body {
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  background: url(wedding1.png) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  border: 3px solid yellow;
  background: url(s_back.jpg);
  position: relative;
  width: 300px;
  height: 300px;
  margin: 300px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 20px;
}

p{
  font-weight: 600;
  color: crimson;
}